<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width" name="viewport">

    <script
            src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
    <input type="text" id="user" placeholder="user 이름 입력하세요 (바꾸기 x)" style="width : 300px" />
    <button type="button" id="enter_button">입장</button>
    <input type = "text" id = "msg" style = "width: 400px; height:300px; display : flex"  placeholder="내용을 입력하세요" />
    <button type="button" id="repeat_button">반복(동시입력을 위한)</button>
    <button type="button" id="stop_button">멈춤</button>

	<script src="../static/doc.js"></script>
</body>
</html>